openapi: 3.0.0
info:
  title: NexHealth Adjustment Types Clinical Notes API
  description: v3.0.0 and v20240412 are two names for the same API version; the Nex-Api-Version header accepts either value. Welcome to the developer hub and documentation for NexHealth API. This section of guide describes the operations, response parameters, request parameters, and parameter constraints related to User API. The term Operations refer to functions or methods. The operations are included in requests and send to the web server. Each operation performs a different action or a query on database.
  termsOfService: https://www.nexhealth.com/terms-of-service
  contact:
    name: NexHealth
    email: info@nexhealth.com
  license:
    name: NexHealth License 1.0
    url: https://www.nexhealth.com/privacy
  version: v20240412
servers:
- url: https://nexhealth.info
security:
- Authorization: []
tags:
- name: Clinical Notes
  description: Clinical notes are the official documentation of a patient's clinical encounter or care interaction
paths:
  /clinical_notes:
    get:
      summary: View clinical notes
      description: This endpoint returns the clinical notes for the specified location. At least one of the patient_id, procedure_id, entered_before, entered_after, or updated_since filters must be provided. Results are cursor-paginated.
      parameters:
      - in: header
        name: Nex-Api-Version
        description: The NexHealth API version
        required: true
        schema:
          type: string
          default: v3.0.0
      - in: query
        name: subdomain
        description: Used to scope the request to the specified institution
        required: true
        schema:
          type: string
      - in: query
        name: location_id
        description: Used to scope the request to the specified location
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: patient_id
        description: Filter by the id of the associated patient
        required: false
        example: 115
        schema:
          type: integer
          format: int32
      - in: query
        name: procedure_id
        description: Filter by procedure, only return clinical notes that are associated with the procedure ID. This association only exists in certain EHRs and for certain types of notes
        required: false
        example: 116
        schema:
          type: integer
          format: int32
      - in: query
        name: entered_before
        description: Only return clinical notes that were created on or before the provided datetime
        required: false
        example: '2024-04-30T23:59:59Z'
        schema:
          type: string
          format: date-time
      - in: query
        name: entered_after
        description: Only return clinical notes that were created on or after the provided datetime
        required: false
        example: '2024-04-01T00:00:00Z'
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_since
        description: Only return clinical notes updated after the specified time (UTC)
        required: false
        example: '2024-04-12T10:30:00Z'
        schema:
          type: string
          format: date-time
      - in: query
        name: start_cursor
        description: First item of the current page. Starts empty
        required: false
        schema:
          type: string
      - in: query
        name: end_cursor
        description: Last item of the current page. Starts empty
        required: false
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of results to return per page. Maximum allowed amount is 1000.
        required: false
        schema:
          type: integer
          format: int32
          default: 5
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_V20240412_Entities_ClinicalNote_Collection_Response_WithCursor'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Errors_BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Errors_Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Errors_Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Errors_NotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Errors_InternalServerError'
      tags:
      - Clinical Notes
      operationId: getClinicalNotes
components:
  schemas:
    API_Errors_InternalServerError:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_InternalServerError model
    API_Errors_Forbidden:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_Forbidden model
    API_Errors_Unauthorized:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_Unauthorized model
    API_Errors_BadRequest:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_BadRequest model
    API_V20240412_Entities_ClinicalNote:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 113
          description: Resource id
        patient_id:
          type: integer
          format: int32
          example: 115
          description: The patient ID of this clinical note
          nullable: true
        procedure_id:
          type: integer
          format: int64
          example: 116
          description: The procedure ID attached to this clinical note
          nullable: true
        entered_at:
          type: string
          format: date-time
          example: '2021-01-01T00:00:00Z'
          description: The timestamp when the clinical note was entered
          nullable: true
        content:
          type: string
          example: Patient has a fever
          description: The content of the clinical note
        signed:
          type: boolean
          example: true
          description: Whether or not the clinical note has been signed by a provider. Not all EHRs support signing notes
          nullable: true
        completed:
          type: boolean
          example: true
          description: Whether or not the clinical note has been marked as completed. Some EHRs refer to this as "locking" the note and use this to prevent further modification. Not all EHRs support locking or completing notes
          nullable: true
        updated_at:
          type: string
          format: date-time
          example: '2020-06-05T20:16:57.007Z'
          description: Clinical Note update date in UTC
    API_V20240412_Entities_ClinicalNote_Collection_Response_WithCursor:
      type: object
      properties:
        code:
          type: boolean
          example: false
          description: Indicates the success or failure of the request
        description:
          type: string
          example: Description
          description: Additional context on the request to help with debugging.
        error:
          type: array
          items:
            type: string
          example:
          - Error message
          description: Any errors that occur during the execution of the request.
        data:
          type: array
          items:
            $ref: '#/components/schemas/API_V20240412_Entities_ClinicalNote'
        page_info:
          type: object
          example:
            has_previous_page: false
            has_next_page: false
            start_cursor: AAAAA
            end_cursor: BBBBBB
          description: Pagination information that can be used for fetching previous and next pages.
      description: API_V20240412_Entities_ClinicalNote_Collection_Response_WithCursor model
    API_Errors_NotFound:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_NotFound model
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
