openapi: 3.0.0
info:
  title: NexHealth Adjustment Types Institutions API
  description: v3.0.0 and v20240412 are two names for the same API version; the Nex-Api-Version header accepts either value. Welcome to the developer hub and documentation for NexHealth API. This section of guide describes the operations, response parameters, request parameters, and parameter constraints related to User API. The term Operations refer to functions or methods. The operations are included in requests and send to the web server. Each operation performs a different action or a query on database.
  termsOfService: https://www.nexhealth.com/terms-of-service
  contact:
    name: NexHealth
    email: info@nexhealth.com
  license:
    name: NexHealth License 1.0
    url: https://www.nexhealth.com/privacy
  version: v20240412
servers:
- url: https://nexhealth.info
security:
- Authorization: []
tags:
- name: Institutions
  description: An organization containing at least one location is refered to as Institution
paths:
  /institutions:
    get:
      summary: View institutions
      responses:
        '200':
          description: Successful
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_V2_Entities_Institution_Collection_Response'
        '401':
          description: Unauthorized
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_Unauthorized'
        '500':
          description: Internal Server Error
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_InternalServerError'
      tags:
      - Institutions
      operationId: getInstitutions
  /institutions/{id}:
    get:
      summary: View institution
      parameters:
      - in: path
        name: id
        description: The NexHealth id of the institution
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_V2_Entities_Institution_Response'
        '400':
          description: Bad Request
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_BadRequest'
        '401':
          description: Unauthorized
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_Unauthorized'
        '404':
          description: Not Found
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_NotFound'
        '500':
          description: Internal Server Error
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_InternalServerError'
      tags:
      - Institutions
      operationId: getInstitutionsId
components:
  schemas:
    API_Errors_InternalServerError:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_InternalServerError model
    API_Errors_Unauthorized:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_Unauthorized model
    API_Errors_BadRequest:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_BadRequest model
    API_V2_Entities_Institution_Collection_Response:
      type: object
      properties:
        code:
          type: boolean
          example: false
          description: Indicates the success or failure of the request
        description:
          type: string
          example: Description
          description: Additional context on the request to help with debugging.
        error:
          type: array
          items:
            type: string
          example:
          - Error message
          description: Any errors that occur during the execution of the request.
        data:
          type: array
          items:
            $ref: '#/components/schemas/API_V2_Entities_Institution'
        count:
          type: integer
          format: int32
          example: 2
          description: Number of total objects, in case of collection.
      description: API_V2_Entities_Institution_Collection_Response model
    API_V2_Entities_Institution_Response:
      type: object
      properties:
        code:
          type: boolean
          example: false
          description: Indicates the success or failure of the request
        description:
          type: string
          example: Description
          description: Additional context on the request to help with debugging.
        error:
          type: array
          items:
            type: string
          example:
          - Error message
          description: Any errors that occur during the execution of the request.
        data:
          $ref: '#/components/schemas/API_V2_Entities_Institution'
        count:
          type: integer
          format: int32
          example: 2
          description: Number of total objects, in case of collection.
      description: API_V2_Entities_Institution_Response model
    API_V2_Entities_Institution:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
          description: Institution id
        name:
          type: string
          example: General Practice
          description: Name of the institution
        created_at:
          type: string
          format: date-time
          example: '2020-06-05T20:16:57.007Z'
          description: Institution created time in UTC
        updated_at:
          type: string
          format: date-time
          example: '2020-06-05T20:16:57.007Z'
          description: Institution last updated time in UTC
        subdomain:
          type: string
          example: example-sandbox
          description: Data partitioned subdomain name
        phone_number:
          type: string
          example: '2222222222'
          description: Institution contact number
        emrs:
          type: array
          items:
            type: string
          example:
          - dentrix
          - curve2
          description: Array of strings of EMRs used by this institution
        country_code:
          type: string
          example: US
          description: 2- or 3-letter country code for country
        appointment_types_location_scoped:
          type: boolean
          example: false
          description: Does each location have its own appointment types?
        is_sync_notifications:
          type: boolean
          example: true
          description: Receive's emails when sync connection goes down
        notify_insert_fails:
          type: boolean
          example: false
          description: Receive's emails on appointment insert fail
        locations:
          type: array
          items:
            $ref: '#/components/schemas/API_Entities_LocationBasic'
          description: Collection of locations
    API_Errors_NotFound:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_NotFound model
    API_Entities_LocationBasic:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 7
          description: Location id
        name:
          type: string
          example: Default
          description: Location name
        street_address:
          type: string
          example: 123 Law St
          description: Location street address
        street_address_2:
          type: string
          example: 85335, North East
          description: Location street address 2
        city:
          type: string
          example: New York
          description: Location city
        state:
          type: string
          example: NY
          description: 2 letter state code
        zip_code:
          type: string
          example: '54700'
          description: Patient zip code
        phone_number:
          type: string
          example: '8888750851'
          description: Practice phone number
        email:
          type: string
          example: defaultLocation@nexhealth.com
          description: Location email id
        inactive:
          type: boolean
          example: false
          description: Is this location not being actively used?
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
