openapi: 3.0.0
info:
  title: NexHealth Adjustment Types Nex Staff API
  description: v3.0.0 and v20240412 are two names for the same API version; the Nex-Api-Version header accepts either value. Welcome to the developer hub and documentation for NexHealth API. This section of guide describes the operations, response parameters, request parameters, and parameter constraints related to User API. The term Operations refer to functions or methods. The operations are included in requests and send to the web server. Each operation performs a different action or a query on database.
  termsOfService: https://www.nexhealth.com/terms-of-service
  contact:
    name: NexHealth
    email: info@nexhealth.com
  license:
    name: NexHealth License 1.0
    url: https://www.nexhealth.com/privacy
  version: v20240412
servers:
- url: https://nexhealth.info
security:
- Authorization: []
tags:
- name: Nex Staff
  description: NexHealth staff users
paths:
  /nex_staff:
    get:
      summary: View nex staff
      parameters:
      - in: query
        name: subdomain
        description: Used to scope the request to the specified institution
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Page number. Starts with page 1
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page. Defaults is 5 per page and Max 300 per page
        required: false
        schema:
          type: integer
          format: int32
          default: 5
      - in: query
        name: inactive
        required: false
        schema:
          type: boolean
      - in: query
        name: location_ids[]
        description: Locations the staff member has access to
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_V2_Entities_Staff_Collection_Response'
        '400':
          description: Bad Request
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_BadRequest'
        '401':
          description: Unauthorized
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_Unauthorized'
        '403':
          description: Forbidden
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_Forbidden'
        '500':
          description: Internal Server Error
          content:
            application/vnd.Nexhealth+json;version=2:
              schema:
                $ref: '#/components/schemas/API_Errors_InternalServerError'
      tags:
      - Nex Staff
      operationId: getNexStaff
components:
  schemas:
    API_Errors_InternalServerError:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_InternalServerError model
    API_Errors_Forbidden:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_Forbidden model
    API_V2_Entities_Staff_Collection_Response:
      type: object
      properties:
        code:
          type: boolean
          example: false
          description: Indicates the success or failure of the request
        description:
          type: string
          example: Description
          description: Additional context on the request to help with debugging.
        error:
          type: array
          items:
            type: string
          example:
          - Error message
          description: Any errors that occur during the execution of the request.
        data:
          type: array
          items:
            $ref: '#/components/schemas/API_V2_Entities_Staff'
        count:
          type: integer
          format: int32
          example: 2
          description: Number of total objects, in case of collection.
      description: API_V2_Entities_Staff_Collection_Response model
    API_Errors_Unauthorized:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_Unauthorized model
    API_V2_Entities_Staff:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
          description: Staff user id
        email:
          type: string
          example: staff@nexhealth.com
          description: Staff email
        first_name:
          type: string
          example: John
          description: Staff first name
        last_name:
          type: string
          example: Smith
          description: Staff last name
        created_at:
          type: string
          format: date-time
          example: '2020-06-05T20:16:57.007Z'
          description: Staff created time in UTC
        updated_at:
          type: string
          format: date-time
          example: '2020-06-05T20:20:57.007Z'
          description: Staff updated time in UTC
        patientable:
          type: boolean
          example: false
        inst_ids:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 1
          - 2
          - 3
          description: Institution ids
        unsubscribe_emails:
          type: boolean
          example: true
        inactive:
          type: boolean
          example: true
        unsubscribe_sms:
          type: boolean
          example: true
        location_ids:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 1
          - 2
          - 3
          description: Location ids
    API_Errors_BadRequest:
      type: object
      properties:
        code:
          type: boolean
          description: Indicates the success or failure of the request.
        description:
          type: string
          description: Additional context about the request to help with debugging.
        data:
          type: object
        error:
          type: array
          items:
            type: string
          description: Any errors that occured during the execution of the request.
      description: API_Errors_BadRequest model
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
